<div class="container text-center">
  <h1>Modal examples</h1>
  <div class="row">
    <div class="col">
      <div>
        <button class="btn btn-primary" (click)="alertModal()">Alert</button>

        <button class="btn btn-warning" (click)="yesNoModal()">Yes-No</button>

        <button class="btn" (click)="inputModal()">Input</button>

        <button class="btn btn-info" (click)="inputModalCancel()">Input focus cancel</button>
        
      </div>
    </div>
  </div>

  {{modalResult | json}}
</div>